* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

.app-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  text-align: center;
  font-family: Arial, sans-serif;
  background-color: #f4f4f9;
  color: #333;
}

.counter-container {
  margin-bottom: 20px;
  text-align: center;
}

.button {
  padding: 10px 20px;
  font-size: 16px;
  margin: 5px;
  background-color: #6200ea;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.button:hover {
  background-color: #3700b3;
}

.button.reset {
  background-color: #d32f2f;
}

.button.reset:hover {
  background-color: #b71c1c;
}

/* Gaya untuk komponen Profile */
.profile {
  margin-bottom: 20px;
  text-align: center;
}

.avatar {
  border-radius: 50%;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  margin-top: 10px;
}

/* Gaya untuk komponen ShoppingList */
.shopping-list {
  list-style: none;
  padding: 0;
  margin-top: 20px;
}

.shopping-item {
  font-size: 18px;
  margin: 5px 0;
}
